$accentColor = #2196f3                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

.bulletin-wrapper{
    background:#fff !important;
}
.category-wrapper .category-item{
    box-shadow: 1px 1px 5px 1px #e1e0e0;
    margin: .4rem 0;
    border-radius: .25rem;
    border:none !important;
}
.category-wrapper .category-item:hover {
    background: #eee !important;
}